body {
  margin: 0;
  font-family: 'Arial, sans-serif'!important ; /* Change the font family here */
  background-color: #f4f4f4;
  color: #333;
  
}
html {
  scroll-behavior: smooth;
}
body *:not(svg,i){
   font-family: 'Arial, sans-serif'!important ;
}
a{
  text-decoration: none;
}
.App {
  text-align: center;
  padding: 20px;
  top: 60px;
  position: relative;
}

section {
  padding: 50px 20px;
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.welcome-section ,.work-section , .about-section , .contact-section {
  background: #e8f5e9;
}

/* .work-section {
  background: #e8f5e9;
}

.about-section {
  background: #e8f5e9;
}

.contact-section {
  background: #e8f5e9;
} */
.footer_bx a{
  display: inline-flex;
  align-items: center;
  color: #333;
  gap: 5px;

}

nav{
  background: #e8f5e9;
}